meta( property="og:site_name" content=config.title )
meta( name="description" content=config.description )

meta( property="og:title" content=config.title )
meta( property="og:image" content="http://timbenniks.nl/assets/french/french.jpg" )
meta( property="og:image:width" content="850" )
meta( property="og:image:height" content="640" )
meta( property="og:url" content=config.baseurl )
meta( property="og:description" content=config.description )

meta( name="twitter:card" content="summary_large_image" )
meta( name="twitter:site" content="@timbenniks" )
meta( name="twitter:title" content=config.title )
meta( name="twitter:description" content=config.description )
meta( name="twitter:image" content="http://timbenniks.nl/assets/french/french.jpg" )

meta( property="fb:app_id" content=config.fbappid )

<link rel="apple-touch-icon-precomposed" sizes="http://timbenniks.nl/assets/favicon.png">
<link rel="shortcut icon" href="http://timbenniks.nl/assets/favicon.png">
