extends layout
include _tweet
include _explanation-revision

block header
  header
    h1=config.title
    h2=config.subtitle
    p=config.description
    img(src="http://timbenniks.nl/assets/french/french.jpg", alt="Things Parisians Says")

block content
  main
    section.proverbs
      each proverb in proverbs
        article.proverb(id=proverb.tweetid)
          +tweet(proverb.proverb, proverb.tweetid)
          +explanationRevision(proverb)
          p.meta
            a(href="/proverb/"+proverb.id) Comment or revise
              | &nbsp; (
              span.fb-comments-count(data-href=config.baseurl + "proverb/" + proverb.id)
              | )
