extends layout
include _tweet
include _explanation-revision

block meta
  - url = config.baseurl + "proverb/" + proverb.id
  - title = proverb.proverb
  - desc = proverb.explanationCleaned

  title=title
  meta( name="twitter:title" content=title )
  meta( property="og:title" content=title )
  meta( property="og:url" content=url )
  meta( property="og:description" content=desc )
  meta( name="description" content=desc )
  meta( name="twitter:description" content=desc )

block header
  p
    a(href="/") &lt; Back home

block content
  - url = config.baseurl + "proverb/" + proverb.id

  main
    section.tweets
      article.tweet(id=proverb.id)
        +tweet(proverb.proverb, proverb.tweetid)
        +explanationRevision(proverb)

        h3 Comment or revise
        .fb-comments(
          data-href=url,
          data-numposts="5",
          data-colorscheme="light",
          data-width="100%" )
