extends layout
include _tweet
include _explanation-revision

block meta
  - url = config.baseurl + "proverb/" + proverb.id
  - title = proverb.proverb
  - desc = proverb.explanationCleaned

  if proverb.revisionCleaned
    - desc = proverb.revisionCleaned

  title=title
  meta( name="twitter:title" content=title )
  meta( property="og:title" content=title )
  meta( property="og:url" content=url )
  meta( property="og:description" content=desc )
  meta( name="description" content=desc )
  meta( name="twitter:description" content=desc )

block header
  p
    a(href="/", title="Go back to the home page")=config.title

block content
  - url = config.baseurl + "proverb/" + proverb.id

  main
    section.proverbs
      article.proverb(id=proverb.id)
        +tweet(proverb.proverb, proverb.tweetid)
        +explanationRevision(proverb)

        .meta
          .fb-like(
            data-href=config.baseurl + "proverb/" + proverb.id
            data-action="like"
            data-show-faces="false"
            data-share="true")

        h3 Comment or revise
        .fb-comments-wrapper
          .fb-comments(
            data-href=url,
            data-numposts="5",
            data-colorscheme="light",
            data-width="100%" )
