extends layout
include _tweet
include _explanation-revision

block content
  main
    section.tweets
      article.tweet(id=proverb.id)
        +tweet(proverb.proverb, proverb.tweetid)
        +explanationRevision(proverb)

        .fb-comments(
          data-href=config.baseurl + "proverb" + proverb.id,
          data-numposts="5",
          data-colorscheme="light",
          data-width="100%" )
